<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Secret Strava</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
  <div class="connect"><a href="{{ foo }}"><img src="btn_strava_connectwith_orange.svg" alt="Connect"></a></div>
  </body>
</html>